@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

ul.ol{
  list-style: none;
}

li{
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f6f8;
}

.window {
  background: #f5f6f8;
  height: calc(100vh - 70px);
  background: rgb(246, 248, 250);
  color: black;
  padding:70px 20px 0 280px;
  transition: all 0.4s ease;
}
.small {
  background: #f5f6f8;
  height: calc(100vh - 70px);
  background: rgb(246, 248, 250);
  color: black;
  padding:70px 20px 0 100px;
  transition: all 0.4s ease;
}
.acttive{
  background: red;
}
.Nobackground{
  margin-left: 245px;
}

.Nobackground .message{
  width: 84%;
  margin-left: 13px;
  background: #fff;
  color: #334D6E;
  border: 1px solid #E4E9EE;
}

.Nobackground .details{
  justify-content: flex-end;
}
input:focus { 
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 10px #719ECE;
}